<header  class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    
        <div class="container-fluid  ">
            <!-- Brand/Logo linked to the home route -->
            <a class="navbar-brand" href="/allChats">
                <i class="bi bi-chat-dots-fill"></i><b>
                ChatApp
                </b>
            </a>

            <!-- Toggler button for mobile views -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
             data-bs-target="#navbarNav" aria-controls="navbarNav" 
             aria-expanded="false" aria-label="Toggle navigation"
             >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- Link to view all chats -->
                    <li class="nav-item">
                        <a class="nav-link" href="/allChats">Home Page</a>
                    </li>
                    <!-- Primary Call to Action Button -->
                    <li class="nav-item">
                        <a class="nav-link" href="/allChats/new">New Chat</a>
                    </li>
                </ul>
            </div>
        </div>
    
</header>
